.input-box {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 20px;
  transition: opacity 0.5s, top 0.5s;
}

.input-box.show {
  opacity: 1;
  top: 0px;
}

.position-relative {
  position: relative;
}

.form-control {
  width: 100%; /* 입력창을 가로로 길게 */
}
